* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 1%, 18%);
}

.container {
    text-align: center;
}

#task {
    width: 50em;
    height: 3em;
    margin-top: 24px;
    border-radius: 5px;
    font-size: 0.9rem;
}

#task-id {
    width: 5em;
    height: 3em;
    margin-top: 24px;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 24px;
}

#date {
    width: 20em;
    height: 3em;
    margin-top: 24px;
    border-radius: 5px;
    font-size: 0.9rem;
}

button {
    font-size: 0.9rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(210, 100%, 50%);
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
    width: 7.5em;
}

button:hover {
    background-color: hsl(210, 100%, 60%);
}

button:active {
    background-color: hsl(210, 100%, 70%);
}

table {
    color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 24px;
    border-collapse: separate;
    border-spacing: 20px 5px;
}

